body{
  background: url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: 100% 900px;
}

.radio{
  font-size: 24px;
}

.homeGreet{
  font-size: 24px;
}

.jumbotron{
  background-color:rgba(3, 3, 3, 0.8);
  margin-top: 100px;
}


.topHotels-container{
  background-color: white;
}

ul{
  list-style: none;
}

.imageLabel{
background: rgb(96, 125, 139);
color: rgb(202, 238, 255);
display: block;
font-size: 18px;
margin: 0;
padding: 4px 10px;
}

.hotel-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.imageItem{
border: 1px solid rgb(100%, 100%, 100%);
border: 1px solid rgba(100%, 100%, 100%, 0.8);
display: inline-block;
flex: 1 2 auto;
max-width:400px;
min-width:400px;

}

.image{
  display: block;
  max-height:235px;
  width: 100%;
}

.topHotels-header{
  font-size: 32px;
  margin-bottom:50px;
  margin-top: 35px;
  text-align: center;
}
